//COLORS
$off-black: #1d1c1d;
$off-green: #c6f324;
$off-white: #faf4f4;
$dark-background: #1e1e1e;
$light-background: #6b696b;
$dark-header: #161616;

$primary-btn-color: #84cf88;

$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;

$desktop-breakpoint: 45rem;
